@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body, html {
  font-family: "Montserrat";
  /* полоса прокрутки (скроллбар) */
  /* ползунок скроллбара */
}

body ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 3px;
  /* ширина для вертикального скролла */
  height: 140px;
  /* высота для горизонтального скролла */
  background: transparent;
  position: relative;
  background-color: transparent;
}

body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
  width: 3px;
  height: 140px;
  border-radius: 1px;
  background-color: #dbe0e4;
  position: absolute;
  right: 4px;
}

body .scrollar-viewport, html .scrollar-viewport {
  overflow: scroll;
}

body .scrollar-viewport, html .scrollar-viewport {
  clip: rect(0, auto, auto, 0);
  clip: rect(0 100% 100% 0);
}

.wrapper {
  padding: 25px 0 0 25px;
}

.chat {
  padding: 0 0 0 57px;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.chat__container {
  max-width: 1326px;
}

.chat__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1269px;
}

.chat__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 933px;
          flex: 0 1 933px;
}

.letters-chat {
  position: absolute;
  left: 20px;
  top: 60px;
  cursor: pointer;
}

.letters-chat__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.letters-chat__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letters-chat__item:first-child {
  margin-bottom: 15px;
}

.letters-chat__item:first-child .letters-chat__item_grey img {
  width: 16px;
  height: 16px;
}

.letters-chat__item:first-child .letters-chat__item_hover img {
  width: 16px;
  height: 16px;
}

.letters-chat__item:nth-child(2) {
  margin-bottom: 13px;
  margin-left: -1.5px;
}

.letters-chat__item:nth-child(3) {
  margin-bottom: 23px;
  margin-left: -1.5px;
}

.letters-chat__item:hover .letters-chat__item_hover {
  opacity: 1;
  visibility: visible;
}

.letters-chat__item:hover .letters-chat__text {
  color: #222222;
}

.letters-chat__item_grey {
  margin-right: 15px;
}

.letters-chat__item_grey img {
  width: 19px;
  height: 19px;
}

.letters-chat__item_hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.letters-chat__item_hover img {
  width: 19px;
  height: 19px;
}

.letters-chat__item_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 19.5px;
}

.letters-chat__item_round {
  margin-bottom: 15px;
  margin-left: 4px;
}

.letters-chat__text {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #777777;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
}

.letters-chat__text.visible {
  visibility: visible;
  opacity: 1;
}

.letters-chat__new-chat {
  opacity: 0;
  visibility: hidden;
  padding: 18px 0 0 0;
  border-top: 1px solid #e2e5e7;
}

.letters-chat__new-chat.visible {
  visibility: visible;
  opacity: 1;
}

.letters-chat__new-chat-text {
  color: #777777;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.letters-chat__new-chat-text::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(../img/plus.png) 0 0 no-repeat;
  margin: 0 16px 0 4px;
}

.letters-chat__new-chat-text.none {
  display: none;
}

.letters-chat__form {
  display: none;
}

.letters-chat__form.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.letters-chat__input {
  margin: 0 5px 0 0;
}

.letters-chat__input input {
  color: #777777;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  width: 151px;
  border-bottom: 1px solid #909090;
  padding: 0 0 5px 8px;
  letter-spacing: 0.02px;
}

.letters-chat__btn {
  color: transparent;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-chat {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 333px;
          flex: 0 0 333px;
}

.list-chat__scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 748px;
  position: relative;
  border-radius: 0px 0 0px 10px;
  border-bottom: 2px solid #f1f2f3;
  border-left: 2px solid #f1f2f3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header-list-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  padding: 0 25px;
  border: 2px solid #f1f2f3;
  border-radius: 10px 0 0px 0px;
}

.header-list-chat__title {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06px;
}

.header-list-chat__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 84px;
          flex: 0 1 84px;
}

.header-list-chat__icon {
  cursor: pointer;
}

.header-list-chat__icon path {
  fill: gray;
  display: block;
  width: 100%;
  height: 100%;
}

.header-list-chat__icon:hover path {
  fill: url(#SVGID_1_);
}

.pad {
  padding: 0 0 0 207px;
}

.item-list-chat {
  padding: 0 0 0 18px;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #ffffff;
}

.item-list-chat::before {
  content: '';
  height: 100%;
  width: 3px;
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  background-color: #dbe0e4;
}

.item-list-chat::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 318px;
  height: 2px;
  background: url(../img/Dots.png);
}

.item-list-chat__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-list-chat__line {
  margin-bottom: 9px;
}

.item-list-chat__text {
  color: #777777;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 8px;
}

.item-list-chat__text_new::before {
  content: 'Новое';
  color: #c44475;
  font-size: 10px;
  font-weight: 600;
  display: inline-block;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.item-list-chat__date {
  color: #c3c3c3;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.06px;
}

.item-list-chat.active {
  background-color: #f6f6f6;
}

.item-list-chat.active::before {
  width: 5px;
  background-color: #c44475;
}

.wp {
  color: #28a219;
}

.tg {
  color: #22a8e6;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line__name {
  font-size: 14px;
  color: #370954;
  font-weight: 600;
  letter-spacing: 0.07px;
  margin: 0 9px 0 0;
}

.line__number {
  color: #777777;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.07px;
  padding: 0 0 0 10px;
  position: relative;
}

.line__number::before {
  content: "|";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.line__messenger {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.07px;
  display: inline-block;
  -webkit-transform: translate(0px, -4px);
          transform: translate(0px, -4px);
}

.icon {
  width: 42px;
  height: 42px;
  background-color: #28a219;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.18px;
  margin: 0 14px 0 0;
  position: relative;
}

.icon_name {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon span {
  position: absolute;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1px;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  background-color: #c44475;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -3px;
  bottom: -3px;
}

.icon_new::before {
  content: '';
  color: #ffffff;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1px;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  background-color: #c44475;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.icon_new::before {
  content: 'sos';
  top: -3px;
  left: -3px;
  font-size: 6px;
}

.header-item-chat {
  height: 44px;
  background-color: #ffffff;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1f2f3;
  border-left: none;
  border-radius: 0px 10px 0px 0px;
}

.header-item-chat__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item-chat__line {
  margin: 0 25px 0 0;
}

.header-item-chat__exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header-item-chat__exit_text {
  color: #370954;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  margin: 0 9px 0 0;
}

.chat-item {
  position: relative;
}

.content-chat-content {
  height: 680px;
  width: 100%;
}

.footer-chat-item {
  height: 68px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1f2f3;
  border-radius: 0px 0 10px 0px;
  padding: 0 25px 0 35px;
}

.footer-chat-item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-chat-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer-chat-item__input {
  color: #222222;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  margin: 0 23px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-chat-item__input textarea {
  width: 572px;
  height: 13px;
  resize: none;
}

.footer-chat-item__input textarea::-webkit-scrollbar {
  width: 0;
}

.footer-chat-item__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-chat-item__button {
  font-style: auto;
  color: transparent;
  background-color: transparent;
  margin: 0 10px 0 0;
}

.footer-chat-item__button.active path {
  fill: url(#SVGID_1_);
}

.footer-chat-item__button path {
  fill: #c3c3c3;
}

.footer-chat-item__button:hover path {
  fill: url(#SVGID_1_);
}

.footer-chat-item__button::last-child {
  margin: 0;
}

.footer-chat-item__templates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  cursor: pointer;
}

.footer-chat-item__templates:hover .footer-chat-item__templates_icon path {
  fill: url(#SVGID_1_);
}

.footer-chat-item__templates:hover .footer-chat-item__templates_text {
  color: #222222;
}

.footer-chat-item__templates_icon {
  margin: 0 7px 0 0;
}

.footer-chat-item__templates_icon path {
  fill: #c3c3c3;
}

.footer-chat-item__templates_text {
  color: #c3c3c3;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
}

.content-chat-content {
  padding: 0 25px;
  background: url(../img/pattern.png);
  background-color: #f0f1f2;
  overflow-y: scroll;
}

.content-chat-content__message {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-chat-content__message_container {
  max-width: 433px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-chat-content__icon {
  margin: 0 17px 0 0;
}

.content-chat-content__block {
  max-width: 433px;
}

.content-chat-content__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.content-chat-content__name {
  font-size: 13px;
  color: #370954;
  font-weight: 600;
  letter-spacing: 0.07px;
}

.content-chat-content__date {
  color: #c3c3c3;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.06px;
}

.content-chat-content__item {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  max-width: 378px;
  border-radius: 5px;
  padding: 15px 19px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  position: relative;
}

.content-chat-content__item span {
  max-width: 335px;
}

.content-chat-content__item::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  left: 0;
  border: 1px solid transparent;
  border-right: 12px solid  #ffffff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 2;
  left: -11px;
}

.recipient {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recipient .content-chat-content__message_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.recipient .content-chat-content__icon {
  margin: 0 0 0 17px;
}

.recipient .content-chat-content__line {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.recipient .content-chat-content__item::before {
  left: auto;
  right: -11px;
  border-right: 0px;
  border-left: 12px solid  #ffffff;
}

.checked::after {
  content: '';
  width: 13px;
  height: 8px;
  background: url(../img/check.png) 0 0 no-repeat;
  display: inline-block;
  margin: 0 0 0 6px;
}

.start-chat {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 933px;
          flex: 0 1 933px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 792px;
  background-color: #f0f1f2;
}

.start-chat__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-chat__img {
  width: 143px;
  height: 143px;
  border: 1px solid #c44475;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 41px;
}

.start-chat__title {
  color: #370954;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 20px;
  margin-bottom: 71px;
}

.start-chat__text {
  color: #370954;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
  max-width: 410px;
  text-align: center;
  line-height: 26px;
  margin-bottom: 24px;
}

.start-chat__btm {
  background-color: #e8ebed;
  width: 233px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c44475;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
  border-radius: 15px;
  cursor: pointer;
}

.start-chat__btm svg {
  margin: 0 11px 0 0;
}

.popup-new {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.popup-new.open {
  display: block;
}

.popup-new__content {
  width: 600px;
  height: 212px;
  -webkit-box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
          box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.popup-new__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  padding: 0 0 0 31px;
  -webkit-box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
          box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
}

.popup-new__icon {
  margin: 0 15px 0 0;
}

.popup-new__templates {
  border-radius: 8px;
  border: 1px solid #909090;
  background-color: #f6f6f6;
  width: 122px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-new__title {
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.06px;
}

.popup-new__form {
  padding: 25px 0 0 31px;
}

.popup-new__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 35px;
}

.popup-new__row:last-child {
  margin: 0;
}

.popup-new__input {
  height: 24px;
  border-bottom: 1px solid #000000;
}

.popup-new__input input {
  color: #c3c3c3;
  font-size: 13px;
  font-weight: 500;
  height: 12px;
}

.popup-new__input_s {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
  margin: 0 30px 0 0;
}

.popup-new__input_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 508px;
          flex: 0 1 508px;
  margin: 0 10px 0 0;
}

.popup-new__input_bi {
  width: 508px;
}

.popup-new__input_si {
  width: 386px;
}

.templates {
  position: absolute;
  bottom: 66px;
  right: 10px;
  width: 554px;
  height: 430px;
  -webkit-box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
          box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  display: none;
}

.templates.open {
  display: block;
}

.templates__header {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 26px;
  border-bottom: 1px solid #e2e5e7;
}

.templates__title {
  font-size: 13px;
  font-weight: 500;
  color: #222222;
}

.templates__search div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.templates__search div input {
  color: #c3c3c3;
  font-size: 13px;
  width: 143px;
  height: 13px;
}

.templates__search div button {
  color: transparent;
  background-color: transparent;
  margin: 0 0 0 10px;
}

.templates__content {
  padding: 15px 16px;
  overflow-y: scroll;
  height: calc(100% - 56px);
}

.templates__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.templates__name {
  font-size: 13px;
  font-weight: 500;
  color: #777777;
  max-width: 97px;
}

.templates__item {
  color: #222222;
  font-size: 13px;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background-color: #f1ffef;
  width: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.templates__item img {
  margin: 0 15px 0 0;
}

.templates__item_b {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.templates__btns {
  margin: 12px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.templates__btn {
  width: 168px;
  height: 33px;
  border-radius: 3px;
  background-color: #dbe0e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.templates__btn:first-child {
  margin: 0 10px 0 0;
}

.settings {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 576px;
  height: 654px;
  -webkit-box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
          box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  display: none;
}

.settings.open {
  display: block;
}

.settings__header-top {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 31px;
}

.settings__icon {
  margin: 0 15px 0 0;
}

.settings__title {
  font-weight: 500;
  color: #222222;
  margin: -2px 0 0 0;
}

.settings__header-mid {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(219, 224, 228, 0.2);
  padding: 0 0 0 31px;
}

.settings__form {
  margin: 0 15px 0 0;
}

.settings__header-bot {
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e2e5e7;
  border-bottom: 1px solid #e2e5e7;
  padding: 0 26px;
}

.settings__header-bot_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 283px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__header-bot_title {
  font-size: 13px;
  font-weight: 500;
  color: #222222;
}

.settings__header-bot_new-templates {
  font-size: 13px;
  font-weight: 500;
  color: #c44475;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.settings__header-bot_new-templates svg {
  margin: 0 10px 0 0;
}

.settings__item {
  padding: 23px 15px;
  height: 464px;
  overflow-y: scroll;
}

.settings__block:last-child {
  margin: 38px 0 0 0;
}

.settings__item-title {
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 12px 0;
}

.settings__item-title_green {
  color: #28a219;
}

.settings__item-title_purple {
  color: #c44475;
}

.settings-templates-delete {
  position: relative;
  padding: 5px 24px 5px 0;
}

.settings-templates-delete_item {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.new-templates {
  width: 576px;
  height: 654px;
  -webkit-box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
          box-shadow: 0 0 24px rgba(4, 26, 55, 0.08);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.new-templates.open {
  display: block;
}

.new-templates__body {
  padding: 20px 26px;
  height: 464px;
}

.new-templates__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.new-templates__line_end {
  height: calc(100% - 210px);
}

.new-templates__frame {
  width: 172px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid #909090;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #c3c3c3;
  cursor: pointer;
}

.new-templates__frame img {
  margin: 0 9px 0 0;
}

.new-templates__form {
  padding: 30px 0 0 0;
  height: calc(100% - 35px);
}

.new-templates__input {
  border-bottom: 1px solid #909090;
}

.new-templates__input input {
  font-size: 13px;
  font-weight: 500;
  color: #c3c3c3;
  width: 100%;
  padding: 0 0 10px 13px;
}

.new-templates__input:first-child {
  margin-bottom: 30px;
}

.new-templates__block {
  margin-bottom: 40px;
}

.new-templates__item {
  width: 100%;
  padding: 11px 12px;
}

.new-templates__back {
  font-size: 13px;
  color: #777777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.new-templates__back::before {
  content: '';
  width: 4px;
  height: 7px;
  background: url(../img/Слой_669.png) 0 0 no-repeat;
  display: inline-block;
  margin: 0 7px 0 0;
}

.new-templates__btm {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #c44475;
  -webkit-transform: translate(0, 4px);
          transform: translate(0, 4px);
}

.new-templates__btm svg {
  margin: 0 7px 0 0;
}

.none {
  display: none;
}

.__select {
  display: inline-block;
  position: relative;
  top: 0;
  width: 262px;
  font-size: 13px;
  z-index: 1;
  color: #222222;
}

.__select[data-state="active"] .__select__title::before {
  -webkit-transform: translate(-3px, -50%) rotate(-45deg);
          transform: translate(-3px, -50%) rotate(-45deg);
}

.__select[data-state="active"] .__select__title::after {
  -webkit-transform: translate(3px, -50%) rotate(45deg);
          transform: translate(3px, -50%) rotate(45deg);
}

.__select[data-state="active"] .__select__content {
  opacity: 1;
}

.__select[data-state="active"] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 0 10px 0;
  border-bottom: solid 1px #cccccc;
  cursor: pointer;
}

.__select__title svg {
  margin: 0 10px 0 0;
}

.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 5px;
  display: block;
  width: 8px;
  height: 2px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #333333;
  -webkit-transform: translate(-2px, 120%) rotate(45deg);
          transform: translate(-2px, 120%) rotate(45deg);
}

.__select__title::after {
  -webkit-transform: translate(2px, 120%) rotate(-45deg);
          transform: translate(2px, 120%) rotate(-45deg);
}

.__select__content {
  position: absolute;
  top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}

.__select__input:checked + label {
  background-color: #dedede;
}

.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.__select__label svg {
  margin: 0 10px 0 0;
}

.__select__label:hover {
  background-color: #f5f5f5 !important;
  color: #000;
}